html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
#root,
main {
  width: 100vw;
  height: 100vh;
}

main {
  max-width: 500px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

main input {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

main button {
  width: 100%;
  padding: 20px 60px;
}

body {
  background-color: #333;
  color: white;
}

button {
  background-color: #444;
}

a {
  color: lightblue;
}
