* {
  box-sizing: border-box;
  user-select: none;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 0 auto;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

main input[type="range"] {
  width: 100%;
}

main img {
  width: 100%;
}

main input {
  margin: 0 auto;
  text-align: center;
}

main button,
main label {
  display: block;
  width: 100%;
  padding: 20px 60px;
  background-color: #444;
  color: white;
  border: 2px outset black;
  text-align: center;
  font-family: serif;
  font-size: 1rem;
}

main button:hover,
main label:hover {
  cursor: pointer;
}

.select {
  user-select: auto;
}

main img {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  background-color: #333;
  color: white;
}

main a {
  color: lightblue;
  font-size: 1.5rem;
}

h1,
h2 {
  text-align: center;
  margin: 0;
}

.hidden {
  display: none;
}
